---
BasedOnStyle: Google
IndentWidth: 2
---
Language: Cpp
AccessModifierOffset: -2
BinPackParameters: false
ColumnLimit: 120
DerivePointerAlignment: false
PointerAlignment: Left
SortIncludes: true
NamespaceIndentation: Inner
AlwaysBreakTemplateDeclarations: true
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
IndentCaseBlocks: false
IndentCaseLabels: true
ReflowComments: true
...

---
Language: Proto
ColumnLimit: 120
SpacesInContainerLiterals: false
AllowShortFunctionsOnASingleLine: None
ReflowComments: false
...
