---
Language: Cpp
AccessModifierOffset: -2
ColumnLimit: 120
DerivePointerAlignment: false
PointerAlignment: Left
SortIncludes: true
IndentWidth: 2
NamespaceIndentation: Inner
...

---
Language: Proto
ColumnLimit: 120
SpacesInContainerLiterals: false
AllowShortFunctionsOnASingleLine: None
ReflowComments: false
...
