Package: RocketMQ
Version: 2.2.0
Architecture: amd64
Essential: no
Priority: optional
Depends: 
Maintainer: "Apache RocketMQ" <dev@rocketmq.apache.org>
Description: This package is C++ client of Apache RocketMQ for debian and its derivertives like Ubuntu.
